
body, html {
    background-color: #EEE;
    margin: 0;
    padding: 0;
}

label {
    font-family:'Courier New', Courier, monospace;
}

button {
    font-family:'Courier New', Courier, monospace;
}

.top, .bottom {
    height: 50vh;
    width: 100vw;
}

.top {
    background-color: #AAA;
    display: flex;
}

.bottom {
    background-color: #666;
    display: flex;

}

.topLeft {
    background-color: lightcoral;
    width: 4%;
    display: flex;
    justify-content: space-between;
}

.topRight {
    width: 96%;
}



.scrollwheel {
    width: 100%;
    background-color: green;
}



.botLeft {
    width: 4%;
    display: flex;
}

.botRight {
    background-color: chocolate;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.botRightTop {
    height: 50%;
    width: 100%;
}

.botRightBot {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
}

.emptyLeftKeyboardContainer {
    width: 50%;
}

.emptyRightKeyboardContainer {
    width: 42.5%;
}

.buttonColumnRightContainer {
    background-color: blueviolet;
    width: 7.5%;
}

.keyboardRow {
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.keyboardButton {
    aspect-ratio: 1 / 1;
    height: 100%;
    line-height: 1;
    overflow: hidden;
    margin: 0 2 0 2;
}

.row-button-even {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.row-button-odd {
    grid-column: 2 / span 12;
}

.keyboardButtonSpecial {
    aspect-ratio: 1 / 1;
    height: 100%;
    line-height: 1;
    overflow: hidden;
}

.totalMessagesScreen {
    background-color: #222;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto 0 auto;
}

.screenSmall {
    height: 50%;
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
}



.ratio {
    aspect-ratio: 3 / 2;
}

.backgroundDark {
    background-color: #606060;
}